<div class="page-header vertical-center">
    <div class="col-md-2"></div>
    <div class="col-md-8">

        <h1>Contact</h1>
        <p>Please leave a comment, gripe, or suggestion.</p>

        <table>
        <tr><td>Name:</td><td><input type="text" ng-model="name"></td></tr>
        <tr> <td>Email:</td> <td><input type="text" ng-model="email"></td></tr>
        <tr><td>Message:</td><td></td> </tr>
        <tr><td></td><td><textarea name="comment" rows="10" cols="50" ng-model="comment">Enter comment here...</textarea></td></tr>
        <tr><td></td><td><img src="comment/2.gif"><img src="comment/1.gif"><img src="comment/3.gif"></td></tr>
        <tr><td></td><td><input type="text" ng-model="validate"></td></tr>
        <tr><td></td><td>Please enter the numbers above to prove you are not a troll.</td></tr>
        <tr><td></td><td><button ng-click="">Send</button></td></tr>
        </table><br/>

    </div>
    <div class="col-md-2"></div>

</div>