<div class="page-header vertical-center">
    <div class="col-md-2"></div>
    <div class="col-md-8">

        <h1>Contact</h1>
        <p>Please leave a comment, gripe, or suggestion.</p>
        Name: <input type="text" ng-model="name">
        Email: <input type="text" ng-model="email">
        Message: <input type="text" ng-model="message">
        <hr/>
        <img src="2.gif"><img src="1.gif"><img src="3.gif">
        <input type="text" ng-model="validate">
        Please enter the numbers above to prove you are not a troll.
        <button ng-click="">Send</button>

    </div>
    <div class="col-md-2"></div>

</div>