<div class="page-header vertical-center">
    <div class="col-md-2"></div>
    <div class="col-md-8">

        <h1>Contact</h1>
        <p>Please leave a comment, gripe, or suggestion.</p>
        Name: <input type="text" ng-model="name"><br/>
        Email: <input type="text" ng-model="email"><br/>
        Message: <input type="text" ng-model="message"><br/>
        <hr/>
        <img src="comment/2.gif"><img src="comment/1.gif"><img src="comment/3.gif"><br/>
        <input type="text" ng-model="validate"><br/>
        Please enter the numbers above to prove you are not a troll.<br/>
        <button ng-click="">Send</button>

    </div>
    <div class="col-md-2"></div>

</div>