<div class="page-header vertical-center">

    <div class="container" ng-app="myApp">

        <h2>Game Server: {{information.board}}</h2>
        <p>This information was collected by a Python telnet crawling script at {{information.datestamp}}</p>
        <p>Top 100:</p>

            <!--
        Test Input <input type="text" ng-model="name" /> {{name}}<br>


                    <div ng-repeat="item in information">
                        <p>{{item.id}}</p>
                        <p>{{item.datestamp}}</p>
                        <p>{{item.top100}}</p>
                    </div>

                 <li ng-repeat="(key, value) in information">{{key}} {{value}}</li> -->

        <!-- <li ng-repeat="item in information">{{item.top100}}</li>

        <p ng-repeat="(key, value) in information">{{value}}</p>
        -->

        {{information.top100}}

        <!--
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Class</th>
                <th>Gang</th>
                <th>Exp</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
            </tr>
            <tr>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
            </tr>
            <tr>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
            </tr>
            <tr>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
            </tr>
            <tr>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
            </tr>
            <tr>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
            </tr>
            <tr>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
            </tr>
            <tr>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
            </tr>
            <tr>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
            </tr>
            <tr>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
            </tr>
            <tr>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
            </tr>
            <tr>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
            </tr>
            <tr>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
            </tr>
            <tr>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
            </tr>
            </tbody>
        </table>
        -->
    </div>
</div>